/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---------------------------- */


/* FONTS */
@font-face {
  font-family: 'RedHatDisplay';
  src: url('./assets/fonts/RedHatDisplay-Regular.ttf');
  font-weight: normal;
}
@font-face {
  font-family: 'RedHatDisplay';
  src: url('./assets/fonts/RedHatDisplay-SemiBold.ttf');
  font-weight: bold;
}
@font-face {
  font-family: 'RedHatText';
  src: url('./assets/fonts/RedHatText-Regular.ttf');
  font-weight: normal;
}


/* APP LEVEL */
html, body {
  height: 100%;
  margin: 0;
}

h1 {
  font-family: 'RedHatDisplay', sans-serif;
  font-weight: bold;
  font-size: 24pt;
  color: #242423;
}

h2 {
  font-family: 'RedHatDisplay', sans-serif;
  font-weight: normal;
  font-size: 14pt;
  color: #242423;
}

h3 {
  font-family: 'RedHatText', sans-serif;
  font-weight: normal;
  font-size: 14pt;
  color: #242423;
}

p {
  font-family: 'RedHatText', sans-serif;
  font-weight: normal;
  font-size: 12pt;
  color: #242423;
}

li {
  font-family: 'RedHatText', sans-serif;
  font-weight: normal;
  font-size: 12pt;
  color: #242423;
}

.underline {
  text-decoration: underline;
}

button {
  font-family: 'RedHatText', sans-serif;
  font-weight: normal;
  font-size: 12pt;

  background-color: #B0413E;
  color: white;
  border: none;
  border-radius: 3px;
  box-sizing: border-box;

  padding: 3pt 10pt;
}

button.inverse {
  background-color: white;
  color: #B0413E;
  border: 1px solid #B0413E;
  border-radius: 3px;
}

.aButton {
  height: 35px;
  width: 35px;

  border-radius: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #B0413E;
  color: white;
}

a.inverse {
  border: 1px #B0413E solid;
  color: #B0413E;
  background-color: white;
}

a.inverseWhite {
  border: 1px #EEE solid;
  color: white;
}

a.alt {
  background-color: #242423;
  color: #EEE;

  height: 20px;
  width: 20px;
}

input {
  font-family: 'RedHatText', sans-serif;
  font-weight: normal;
  font-size: 12pt;

  background-color: #EEE;
  color: #242423;

  border: none;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}

input:focus {
  outline: none;
}

textarea {
  font-family: 'RedHatText', sans-serif;
  font-weight: normal;
  font-size: 12pt;

  background-color: #EEE;
  color: #242423;

  border: none;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  max-height: 90%;
  height: 90%;
  padding: 15px;

  resize: none;

  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

textarea:focus {
  outline: 2px solid #B0413E;
}

.App {
  height: 100vh;
  width: 85%;
  align-self: center;
  margin: auto;

  display: flex;
  flex-direction: column;
}

header {
  height: 10%;
  display: flex;
  align-items: flex-end;

  margin-bottom: 12%;
}

/* HEADER */
#title {
  border-bottom: 1px solid #242423;
}

/* MAIN CONTENT */
.input {
  max-height: 55%;
  flex-grow: 1;
  justify-content: space-between;
}

.inputTypeSelection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 5% 0 2% 0;
}

.inputTypeSelection ul {
  display: flex;
  flex-direction: row;
}

.inputTypeSelection ul li {
  margin-right: 6%;
}


/* TEXT FIELDS */
.formControl {
  display: flex;
  flex-direction: row;
  justify-content: right;

  margin-top: 5%;
}

.formControl button {
  margin-left: 20px;
}

/* INPUT FIELDS */
.listInputContainer {
  max-height: 90%;
  height: 90%;

  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.inputContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  background-color: #EEE;

  border: none;
  border-radius: 5px;
  width: 100%;
  max-height: 41px;
  height: 41px;
  box-sizing: border-box;

  margin-bottom: 10pt;
}

.inputContainer .FontAwesomeIcon {
  padding: 10px;
  align-self: center;
  justify-self: center;
}

/* ERROR DISPLAY */
.errorDisplay {
  width: 90%;

  background-color: #FFDFDE;
  border-radius: 5px;
  
  padding: 8pt;
  margin: 12pt auto 0 auto;

  box-sizing: border-box;
}

.errorDisplay .error {
  color: #B0413E;
}


/* OUTPUT VIEW */
.output {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.output .outputControl {
  display: flex;
  flex-direction: row;
}

.output .outputControl a {
  margin-left: 15px;
}

/* QR CODE DISPLAY */
.QRContainer {
  width: 100%;
  display: flex;
  flex-direction: column;

  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;

  margin-top: 5%;
}

.QRDisplay {
  width: 90%;

  border-radius: 10px;
  background-color: #B0413E;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 6px;
  box-sizing: border-box;

  margin: 0 auto 25px auto;
}

canvas.QRCanvas {
  width: 100%;
  height: auto;

  box-sizing: border-box;

  border-radius: 5px;
}

.QRInfo {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-self: bottom;

  padding: 4% 4% 2% 4%;
}

.QRInfo h3 {
  color: white;
  align-self: center;
}

.QRControl {
  display: flex;
  flex-direction: row;
}

.QRControl a {
  margin-left: 15px;
}

@media only screen and (min-width: 768px) {
  .listInputContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    flex-wrap: wrap;
  } 

  .inputContainer {
    width: 47%;
  }

  .QRContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
  }

  .QRDisplay {
    width: 45%;
  

  
    margin: 0 0 25px 0;
  }

}

@media only screen and (min-width: 960px) {
  header {
    margin-bottom: 2%;
  }

  .inputTypeSelection {
    margin: 2% 0 1% 0;
  }

  .input {
    max-height: 45%;
  }

  .QRContainer {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
  }

  .QRDisplay {
    width: 30%;
  
    border-radius: 10px;
    background-color: #B0413E;
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
    padding: 6px;
    box-sizing: border-box;
  
    margin: 0 auto 25px auto;
  }

}
